:root {
  --primary-color: #403a2b;
  --secondary-color: #b17457;
  --background-color: #faf7f0;
  --boarder-color: #291e1e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color);

  background-image: url("/images/Giants_Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 40px;
}

.anchor-tags {
  font-size: 32px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: var(--primary-color);
}

h2 {
  text-align: center;
  font-size: 30px;
  color: var(--primary-color);
}

h3 {
  text-align: center;
  font-size: 24px;
  color: var(--primary-color);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

label {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px !important;
  border: 2px solid #3c3535 !important;
  padding: 10px 20px;
}

form input,
form select,
form button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.disabled-dropdown {
  background-color: #f0f0f0;
  color: #999999;
  pointer-events: none;
}

#card-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px 0px;
  width: calc(100% - 280px);
  margin: 20px auto;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.main-content {
  text-align: center;
  position: relative;
  left: 100px;
}

.main-content a {
  text-align: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  font-size: 36px;
  text-align: match-parent;
  margin: 50px 0;
}

.card-container {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.highlight-border {
  border: 8px solid darkgreen;
  box-shadow: 0 0 25px darkgreen;
  padding: 20px;
  margin: 10px;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;
}

.card-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 10px;
}

.card-details {
  font-size: 16px;
  margin: 5px 0;
  font-weight: bolder;
}

#dynamic-header .logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #544d3a;
  z-index: 1000;
  padding: 0px 0;
  text-align: center;
  margin: 0;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #544d3a;
  z-index: 1000;
  padding: 0px 0;
  text-align: center;
  margin: 0;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  object-fit: cover;
  max-height: 50px;
  border: #291e1e 3px solid;
}

#search-form {
  width: 100%;
  max-width: 575px;
}

#search-form label {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#card-set {
  max-width: 260px;
}

#card-subtype {
  max-width: 157px;
}

.search-settings {
  padding: 5px;
  background-color: #b0b0b0;
  border: 5px solid #291e1e;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  margin-right: 260px;
  padding-right: 20px;
}

footer {
  background-color: #896f6f;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0% 0;
  margin: 0;
}

.footer-text {
  font-size: 12px;
  margin: 0;
  padding: 5px 0;
}

#deck-inspector {
  position: fixed;
  right: 1%;
  bottom: 27%;
  top: 33%;
  width: 350px;
  margin-right: 10px;
}

.deck-inspector-container {
  position: relative;
  height: 100%;
  background-color: #f5f5f5;
  border: 6px solid #291e1e;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
}

.deck-image-container {
  position: absolute;
  right: 30.5%;
  bottom: 80%;
  width: 200px;
  height: 280px;
  display: block;
  margin: 0 auto;
}

.deck-image-container img {
  width: 265px;
  height: 370px;
  border-radius: 11px;
}

.deck-inspector-container h2 {
  text-decoration: underline;
  font-size: 35px;
  margin: 20px;
}

.deck-list-container {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 10px;
  max-height: calc(50vh - 170px);
}

.deck-inspector-buttons {
  position: fixed;
  right: 1.8%;
  bottom: 15%;
  width: 342px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border: 5px solid #291e1e;
  border-radius: 8px;
}

.deck-inspector-buttons button {
  flex: 1;
  margin: 5px;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
}

.deck-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.deck-container img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#mainViewSelection {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.disabled-dropdown {
  background-color: #f0f0f0;
  color: #999999;
  pointer-events: none;
}

.photo-icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  user-select: none;
}

.photo-icon img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 80%;
  text-align: center;
}

.modal-content img {
  width: 265px !important;
  height: 370px !important;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #d9534f;
  cursor: pointer;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #d9534f;
  user-select: none;
}

.close-button:hover {
  background-color: #d9534f;
  color: #fff;
}

.clickable-card-image img {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.clickable-card-image img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

button.plus-button,
button.minus-button {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

button.plus-button:hover,
button.minus-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.deck-container .heart-icon,
.deck-container .clone-icon,
.deck-container .trash-icon {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.deck-container .heart-icon:hover,
.deck-container .clone-icon:hover,
.deck-container .trash-icon:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.deck-inspector-buttons .create-button,
.deck-inspector-buttons .rename-button {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.deck-inspector-buttons .create-button:hover,
.deck-inspector-buttons .rename-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#mainViewSelection,
#card-name,
#card-type,
#card-subtype,
#card-set,
#card-format,
#search-form button[type="submit"] {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#mainViewSelection:hover,
#card-name:hover,
#card-type:hover,
#card-subtype:hover,
#card-set:hover,
#card-format:hover,
#search-form button[type="submit"]:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.flip-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 65px;
}

.flip-card {
  width: 200px;
  height: 280px;
  perspective: 1000px;
}

.flip-card img {
  width: 200px;
  height: 280px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card.animate .flip-card-inner {
  transform: rotateY(180deg);
}

/* Styles for viewport width 1800px and below */
@media (max-width: 1800px) {
  .flip-card-container img {
    width: 170px !important;
    height: 238px !important;
  }

  .main-content a {
    font-size: 36px;
  }

  .main-content p {
    font-size: 30px;
  }

  .deck-image-container {
    right: 26%;
    bottom: 63%;
  }

  .deck-image-container img {
    width: 230px;
    height: auto;
  }

  .card-container .card-container img {
    width: 198.75px !important;
    height: 277.5px !important;
  }

  .card-container {
    padding: 14px;
  }

  .modal-content img {
    width: 225.25px !important;
    height: 314.5px !important;
  }

  .modal-content .card-details {
    font-size: 14px;
  }
}

/* Styles for viewport width 1480px and below */
@media (max-width: 1480px) {
  .flip-card-container img {
    width: 140px !important;
    height: 196px !important;
  }

  .main-content a {
    font-size: 33px;
  }

  .main-content p {
    font-size: 23px;
  }

  #deck-inspector {
    bottom: 22%;
    top: 35%;
    width: 320px;
  }

  .deck-inspector-buttons {
    bottom: 8%;
    width: 317px;
    padding: 5px;
  }

  .deck-inspector-buttons button {
    padding: 10px;
  }

  .deck-image-container {
    right: 19%;
    bottom: 53%;
  }

  .deck-image-container img {
    width: 200px;
    height: auto;
  }

  .search-settings select,
  input {
    max-width: 180px !important;
    font-size: 14px !important;
  }

  .card-container .card-container img {
    width: 172.25px !important;
    height: 240.5px !important;
  }

  .deck-inspector-container h2 {
    font-size: 30px;
  }

  .deck-container img {
    width: 18px;
    height: 18px;
  }

  .card-container {
    padding: 5px;
  }

  .card-name {
    font-size: 21px;
  }

  .card-details {
    font-size: 15px;
  }

  .modal-content img {
    width: 198.75px !important;
    height: 277.5px !important;
  }

  .modal-content .card-details {
    font-size: 13px;
  }

  h1 {
    font-size: 35px;
  }
}

/* Styles for viewport width 1180px and below */
@media (max-width: 1180px) {
  .flip-card-container img {
    width: 110px !important;
    height: 154px !important;
  }

  .main-content a {
    font-size: 28px;
  }

  #deck-inspector {
    width: 290px;
  }

  .deck-inspector-buttons {
    width: 288px;
    padding: 5px;
  }

  .deck-inspector-buttons button {
    padding: 6px;
  }

  .deck-image-container {
    right: 13%;
    bottom: 45%;
  }

  .deck-image-container img {
    width: 180px;
  }

  .search-settings select,
  input {
    max-width: 140px !important;
    font-size: 12px !important;
  }

  .card-container .card-container img {
    width: 159px !important;
    height: 222px !important;
  }

  .deck-inspector-container {
    font-size: 11pt;
  }

  .deck-inspector-container h2 {
    font-size: 26px;
  }

  .deck-container img {
    width: 16px;
    height: 16px;
  }

  .card-container {
    padding: 3px;
  }

  .card-name {
    font-size: 19px;
  }

  .card-details {
    font-size: 14px;
  }

  .modal-content img {
    width: 172.25px !important;
    height: 240.5px !important;
  }

  .modal-content .card-details {
    font-size: 12px;
  }
}

/* Styles for viewport width 1000px and below */
@media (max-width: 1000px) {
  .flip-card-container img {
    width: 90px !important;
    height: 126px !important;
  }

  #deck-inspector {
    bottom: 22%;
    top: 35%;
    width: 275px;
  }

  .deck-inspector-buttons {
    right: 2%;
    width: 276px;
  }

  .deck-inspector-buttons button {
    padding: 7px;
  }

  .deck-image-container {
    right: 6.5%;
    bottom: 30%;
  }

  .deck-image-container img {
    width: 155px;
    height: auto;
  }

  .search-settings select,
  input {
    max-width: 180px !important;
    font-size: 14px !important;
  }

  .card-container .card-container img {
    width: 145.75px !important;
    height: 203.5px !important;
  }

  .card-name {
    font-size: 19px;
  }
}
